@font-face{font-family:SilkscreenNormal;src:url(slkscr.ttf),url(slkscr.eot);font-weight:400;font-style:normal;}

body{
	font-family:SilkscreenNormal;
    background-image: url(Bilder/MC-Background__1323925686.jpg);
}


button.noClick{
    cursor: not-allowed;
}



a{
    color: white;
    text-decoration: none;
}

div.centerHidden{
    display: none;
    justify-content: center;
}



/*Minecraft Design*/



.MinecraftDesign{
    padding: 5px 50px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    background-color: rgb(111, 111, 111);
    border: 2px solid rgb(173, 170, 170);
    outline: 3px solid black;
    font-family: SilkscreenNormal;
    text-align: center;
}


.MinecraftDesign:hover{
    background-color: rgb(145, 157, 226);
}


.noHover:hover{
    background-color: rgb(111, 111, 111);
}

.DisplayNone{
    display: none;
}



/*Quiz Starten*/
.StartButtonDiv{
    height: 890px;
    position: relative;
}

.StartButton{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*Level Choice*/

.Margin20px{
    margin: 20px;
}

#LevelChoiceDiv{
    text-align: center;
}



div.LevelChoice{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

button.LevelChoice{
    width: 220px;
}







/*Question Design*/


.HeadlineDiv{
    display: flex;
    justify-content: center;
    margin: 40px 20px;
}


.ChoiceDiv{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.Choice{
    margin: 50px 50px;
    padding: 40px 80px;
    font-size: 30px;
    color: white;
    background-color: grey;
}

.CorrectionDiv{
    display: none;
    justify-content: center;
}


.points{
    font-size: 15px;
    max-width: 500px;
    text-align: center;
    margin: 0 0 20px 0;
    padding: 5px 5px;
}



.NächsteFrageDiv{
    justify-content: center;
    display: none;
    margin-bottom: 300px;
}

.NächsteFrage{
    padding: 10px 20px;
    font-size: 20px;
    color: white;
}
























div.Quiz1{
    display: none;
}

.DivQuestion1{
    margin-bottom: 100px;
    text-align: center;
    background-color: black;
    padding: 20px;
    border-radius: 20px;
}


.Question1{
    font-size: 40px;
    color: aqua;
}


.InstructionQuestion1{
    font-size: 20px;
    margin-left: 300px;
    background-color: black;
    color: aqua;
    padding: 10px;
    width: 290px;
    border-radius: 20px;
    text-align: center;
}


.DivChoiceQuestion1{
    text-align: center;
}


.ChoiceQuestion1{
    width: 300px;
    height: 284px  ;
    margin: 50px;

}

