body{
    font-family: MincraftSeven;
    background-image: url(Bilder/Dirt_background_JE2.webp);
}


button.noClick{
    cursor: not-allowed;
}

button.noClick:hover{
    border: 3px dotted red;
}

a{
    color: aqua
}








/*Quiz Starten*/
.StartButtonDiv{
    text-align: center;
    height: 950px;

    position: relative;
}

.StartButton{
    border: none;
    border-radius: 25px;
    margin: 0%;
    padding: 50px;
    background-color: black;
    color: aqua;
    font-size: 60px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.StartButton:hover{
    border: 3px dotted aqua;
}


/*Level Choice*/

#LevelChoiceDiv{
    text-align: center;
    display: none;
}

.LevelChoiceHeadline{
    background-color: black;
    color: aqua;
    padding: 30px;
    border-radius: 20px;
    font-size: 40px;
    margin: 0%;
}

.LevelChoice{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.LevelDesign{
    background-color: black;
    color: aqua;
    border-radius: 17px;
    padding: 30px 60px;
    margin: 200px 20px 0px 20px;
    font-size: 40px;
    border: 3px solid black;
}

.LevelDesign:hover{
    border: 3px dotted aqua;
}



/*Einzelne Level*/

.QuestionsHardcore{
    display: none;
}

.QuestionDiv{
    display: flex;
    justify-content: center;
    margin: 40px 20px;
}


.Question{
    background-color: gray;
    text-align: center;
    color: white;
    display: inline;
    padding: 15px;
    font-size: 40px;
}

.ChoiceDiv{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.Choice{
    margin: 50px 50px;
    padding: 40px 80px;
    font-size: 30px;
    color: white;
    background-color: grey;
}

.CorrectionDiv{
    display: none;
    justify-content: center;
}

.correction{
    text-align: center;
    font-size: 50px;
    display: inline;    
    background-color: green;
    padding: 20px;
    border-radius: 20px;
    margin-top: 100px;
}


.NächsteFrageDiv{
    justify-content: center;
    display: none;
}

.NächsteFrage{
    padding: 10px 20px;
    font-size: 20px;
    background-color: gray;
    color: white;
}





/*Hardcore*/




























































div.Quiz1{
    display: none;
}

.DivQuestion1{
    margin-bottom: 100px;
    text-align: center;
    background-color: black;
    padding: 20px;
    border-radius: 20px;
}


.Question1{
    font-size: 40px;
    color: aqua;
}


.InstructionQuestion1{
    font-size: 20px;
    margin-left: 300px;
    background-color: black;
    color: aqua;
    padding: 10px;
    width: 290px;
    border-radius: 20px;
    text-align: center;
}


.DivChoiceQuestion1{
    text-align: center;
}


.ChoiceQuestion1{
    width: 300px;
    height: 284px  ;
    margin: 50px;

}

